<table id="table_carr_lat">
    <tr>
        <td class="nome_colonna">Nome prodotto</td>
        <td class="nome_colonna">Prezzo prodotto</td>
        <td class="nome_colonna">Quantit&agrave;</td>
    </tr>                
    {{#prodotti}}
    <tr>
        <td class="nome">{{nome_prodotto}}</td>
        <td class="prezzo">{{prezzo_prodotto}}</td>
        <td class="quantita">{{quantita_prodotto}}</td>
    </tr>
    {{/prodotti}}
</table>   
<div id="totale_lat">Totale spesa: </div>  