/* Consente un cambiamento graduale dello stato degli elementi */
* {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.loginform {
    background: white;
    border-radius: 5px;
    padding: 5px;
    margin: 6px;
    box-shadow: 0px 0px 10px;
}

.header #logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 70px;
}

.header #title {
    position: absolute;
    top: 10px;
    left: 130px;
    font-size: 40px;
    color: #801515;
}

.header #searchform {
    position: absolute;
    right: -55px;
    top: 10px;
    width: 250px;
    height: 50px;
}

.header #searchform input {
    border: 1px solid #550000;
    height: 20px;
    padding: 5px;
    color: #801515;
    box-shadow: 0px 0px 4px #801515;
}

.header #breadcrumb { 
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #801515;
    font-size: 15px;
}

.content li{
    display: inline;
}

.content .item {
    border-radius: 5px;
    background-color: graytext;
    height: 200px;
    width: 180px;
}