* { padding: 0; margin: 0; }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #8DCF8A;
    color: #ffffff;
    overflow-x: hidden;
}
.clear{
  clear: both;
}
.wrapper {
    margin: 0 auto;
    width: 992px;
}

.header {
    position: relative;
    background-color: #156711;
    color: white;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    height: 110px;
    margin: 10px 0px 0px 0px;
    box-shadow: 0px 0px 10px #000;
}

.navigation {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    position:relative;
}
.navigation .bif-left{
    position:absolute;
    width:250px;
    height: 6px;
    left:-250px;
    top:0px;
    border-bottom: 14px dotted #034500;
    opacity: 0.3;
    border-top: 14px dotted #034500;
}
.navigation .bif-right{
    position:absolute;
    width: 250px;
    height: 6px;
    right:-250px;
    top:0px;
    border-bottom: 14px dotted #034500;
    opacity: 0.3;
    border-top: 14px dotted #034500;
}
.central_container {
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 10px;
    overflow: auto;
    width: 100%;
    background: #156711;
    box-shadow: 0px 0px 10px #333;
}

.rightcolumn {
    display: inline;
    background-color: #8DCF8A;
    color: #000000;
    margin: 10px 0px 0px 0px;
    padding: 5px;
    width: 245px;
    float: right;
}
.rightcolumn li{
    list-style-type: none;
    color: white;
    text-align:center;
}
.rightcolumn li a{
    color:white;
    text-decoration:none;
}
.leftcolumn {
    float: left;
    color: #333;
    margin: 10px 0px 0px 0px;
    padding: 2px;
    width: 700px;
    display: inline;
    position: relative;
}

.footer {
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
    clear: both;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    text-align: center;
    color: #000000;
}
.noauth{
    background:#A8383B;
    color:white;
    padding:30px;
    text-align:center;
    font-size:25px;
}
